<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630409015777-vq50d8ok9lr74djasifmjni19ko9g50g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630409015777-vq50d8ok9lr74djasifmjni19ko9g50g</string>
	<key>API_KEY</key>
	<string>AIzaSyBldzLRlBmxEJsSOilCp8Hfhp9ya0owptU</string>
	<key>GCM_SENDER_ID</key>
	<string>630409015777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandroll.brandroll</string>
	<key>PROJECT_ID</key>
	<string>brandroll-9bb37</string>
	<key>STORAGE_BUCKET</key>
	<string>brandroll-9bb37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:630409015777:ios:77f7f4609c8da1234862a0</string>
	<key>DATABASE_URL</key>
	<string>https://brandroll-9bb37-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
