<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630409015777-5t2180fe6n358vgs5c562nr48ggsifir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630409015777-5t2180fe6n358vgs5c562nr48ggsifir</string>
	<key>API_KEY</key>
	<string>AIzaSyBldzLRlBmxEJsSOilCp8Hfhp9ya0owptU</string>
	<key>GCM_SENDER_ID</key>
	<string>630409015777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandroll</string>
	<key>PROJECT_ID</key>
	<string>brandroll-9bb37</string>
	<key>STORAGE_BUCKET</key>
	<string>brandroll-9bb37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630409015777:ios:a3b29d6c84707f994862a0</string>
</dict>
</plist>